body{
    background-image: url(img/00000.jpg);
    background-repeat: repeat;
}

img{
    width: 100%;
}

li{
    padding: 5px;
    text-align: center;
}
    
#header{
    font-style: italic;
    padding: 20px;
    color: rgb(247, 242, 242);
}

#main{
    font-style: italic;
    margin: auto;
    width: 60%;
    text-align: center;
    background-color: rgba(228, 92, 92, 0.548);
}

#content{
    display: flex;
}

.box{
    color: rgb(247, 242, 242);
}


.box h2{
    border-bottom: 1px solid rgb(250, 247, 247);
  
}

@media screen and (max-width: 1440px){
    #manin{
        width: 100%;
        font-size: 116px;
    }
    
    }

@media screen and (max-width: 768px){
    body{
        margin: 0px;
        padding: 0px;
        background-color: none;
    }

    }

    #content{
        display: block;
    }
    
